<div class="container">
  <div class="row">
    <div class="col-sm-5">
      <app-recipe-list (show_recipe) = "show_selected_recipe($event)" ></app-recipe-list>
    </div>
    <div class="col-sm-7">
      <app-recipe-detail *ngIf="current_recipe; else norecipe" [recipe_detail]="current_recipe"></app-recipe-detail>
      <ng-template #norecipe>
        <div class="container">
          <div class="row">
            <div class="col-sm-12">
              <p>Please select a recipe first!</p>
            </div>
          </div>
        </div>
      </ng-template>
    </div>
  </div>
</div>